In [1]:
#installing the dash using pip
!pip install dash==1.18.1

Requirement already satisfied: dash==1.18.1 in c:\users\hp\anaconda3\lib\site-packages (1.18.1)
Requirement already satisfied: dash-html-components==1.1.1 in c:\users\hp\anaconda3\lib\site-packages (from dash==1.18.1) (1.1.1)
Requirement already satisfied: dash-renderer==1.8.3 in c:\users\hp\anaconda3\lib\site-packages (from dash==1.18.1) (1.8.3)
Requirement already satisfied: Flask>=1.0.4 in c:\users\hp\anaconda3\lib\site-packages (from dash==1.18.1) (1.1.2)
Requirement already satisfied: dash-core-components==1.14.1 in c:\users\hp\anaconda3\lib\site-packages (from dash==1.18.1) (1.14.1)
Requirement already satisfied: dash-table==4.11.1 in c:\users\hp\anaconda3\lib\site-packages (from dash==1.18.1) (4.11.1)
Requirement already satisfied: plotly in c:\users\hp\anaconda3\lib\site-packages (from dash==1.18.1) (4.14.3)
Requirement already satisfied: flask-compress in c:\users\hp\anaconda3\lib\site-packages (from dash==1.18.1) (1.8.0)
Requirement already satisfied: future in c:\users\hp\anaconda3\lib\site-packages (from dash==1.18.1) (0.18.2)
Requirement already satisfied: Jinja2>=2.10.1 in c:\users\hp\anaconda3\lib\site-packages (from Flask>=1.0.4->dash==1.18.1) (2.11.2)
Requirement already satisfied: Werkzeug>=0.15 in c:\users\hp\anaconda3\lib\site-packages (from Flask>=1.0.4->dash==1.18.1) (1.0.1)
Requirement already satisfied: itsdangerous>=0.24 in c:\users\hp\anaconda3\lib\site-packages (from Flask>=1.0.4->dash==1.18.1) (1.1.0)
Requirement already satisfied: click>=5.1 in c:\users\hp\anaconda3\lib\site-packages (from Flask>=1.0.4->dash==1.18.1) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\hp\anaconda3\lib\site-packages (from Jinja2>=2.10.1->Flask>=1.0.4->dash==1.18.1) (1.1.1)
Requirement already satisfied: brotli in c:\users\hp\anaconda3\lib\site-packages (from flask-compress->dash==1.18.1) (1.0.9)
Requirement already satisfied: retrying>=1.3.3 in c:\users\hp\anaconda3\lib\site-packages (from plotly->dash==1.18.1) (1.3.3)
Requirement already satisfied: six in c:\users\hp\anaconda3\lib\site-packages (from plotly->dash==1.18.1) (1.15.0)

In [3]:
import matplotlib.pyplot as plt

In [4]:
#importing the neccesary libraries
import dash #helps intitlialize the application 
import dash_core_components as dcc #to create the interactive components
import dash_html_components as html # helps access the HTML tags
import pandas as pd

In [5]:
#importing the data
data = pd.read_csv('https://raw.githubusercontent.com/realpython/materials/master/python-dash/additional_files/avocado.csv')

In [6]:
data['Date'] = pd.to_datetime(data['Date'], format = "%Y-%m-%d")
data.sort_values('Date', inplace= True)

In [7]:
data.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
11569,51,2015-01-04,1.75,27365.89,9307.34,3844.81,615.28,13598.46,13061.10,537.36,0.0,organic,2015,Southeast
9593,51,2015-01-04,1.49,17723.17,1189.35,15628.27,0.00,905.55,905.55,0.00,0.0,organic,2015,Chicago
10009,51,2015-01-04,1.68,2896.72,161.68,206.96,0.00,2528.08,2528.08,0.00,0.0,organic,2015,HarrisburgScranton
1819,51,2015-01-04,1.52,54956.80,3013.04,35456.88,1561.70,14925.18,11264.80,3660.38,0.0,conventional,2015,Pittsburgh
9333,51,2015-01-04,1.64,1505.12,1.27,1129.50,0.00,374.35,186.67,187.68,0.0,organic,2015,Boise

In [8]:
data = data.query("type == 'conventional' and region == 'Albany'")
data.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
51,51,2015-01-04,1.22,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.0,conventional,2015,Albany
50,50,2015-01-11,1.24,41195.08,1002.85,31640.34,127.12,8424.77,8036.04,388.73,0.0,conventional,2015,Albany
49,49,2015-01-18,1.17,44511.28,914.14,31540.32,135.77,11921.05,11651.09,269.96,0.0,conventional,2015,Albany
48,48,2015-01-25,1.06,45147.50,941.38,33196.16,164.14,10845.82,10103.35,742.47,0.0,conventional,2015,Albany
47,47,2015-02-01,0.99,70873.60,1353.90,60017.20,179.32,9323.18,9170.82,152.36,0.0,conventional,2015,Albany

In [9]:
app = dash.Dash(__name__) #creating an instance of the Dash class

## Defining the Layout of the Dash Application

This will dictate the overall look of the app. It will be having two graphs

### Styling the Dash Application 

* We shall use style arguments to customaize the dashboard, it takes Python dictionary Key bvalue pairs consisting of the names of CSS properties and the values to be set

In [10]:
#Customizing the Styles of Components
# We shall use the ClassName arguments in Dash components
# The className adds a corresponding class selector to each component that
#compose the header of the dashboard
external_stylesheets = [
    {
        "href": "https://fonts.googleapis.com/css2?"
        "family=Lato:wght@400;700&display=swap",
        "rel": "stylesheet",
    },
]
app = dash.Dash(__name__, external_stylesheets=external_stylesheets)
app.title = "Avocado Analytics: Understand Your Avocados!"

app.layout = html.Div(
    children=[
        html.Div(
            children=[
                html.P(children="🥑", className="header-emoji"),
                html.H1(
                    children="Avocado Analytics", className="header-title"
                ),
                html.P(
                    children="Analyze the behavior of Avocado prices"
                    " and the number of avocados sold in the US"
                    " between 2015 and 2018",
                    className="header-description",
                ),
            ],
            className="header",
        ),
        html.Div(
            children=[
                html.Div(
                    children=dcc.Graph(
                        id="price-chart",
                        config={"displayModeBar": False},
                        figure={
                            "data": [
                                {
                                    "x": data["Date"],
                                    "y": data["AveragePrice"],
                                    "type": "lines",
                                    "hovertemplate": "$%{y:.2f}"
                                                     "<extra></extra>",
                                },
                            ],
                            "layout": {
                                "title": {
                                    "text": "Average Price of Avocados",
                                    "x": 0.05,
                                    "xanchor": "left",
                                },
                                "xaxis": {"fixedrange": True},
                                "yaxis": {
                                    "tickprefix": "$",
                                    "fixedrange": True,
                                },
                                "colorway": ["#17B897"],
                            },
                        },
                    ),
                    className="card",
                ),
                html.Div(
                    children=dcc.Graph(
                        id="volume-chart",
                        config={"displayModeBar": False},
                        figure={
                            "data": [
                                {
                                    "x": data["Date"],
                                    "y": data["Total Volume"],
                                    "type": "lines",
                                },
                            ],
                            "layout": {
                                "title": {
                                    "text": "Avocados Sold",
                                    "x": 0.05,
                                    "xanchor": "left",
                                },
                                "xaxis": {"fixedrange": True},
                                "yaxis": {"fixedrange": True},
                                "colorway": ["#E12D39"],
                            },
                        },
                    ),
                    className="card",
                ),
            ],
            className="wrapper",
        ),
    ]
)

In [ ]:
if __name__ == "__main__":
    app.run_server(debug = True)

In [ ]:
jupyterlab-